<li><a id="#prerequisites">0.1: Prerequisites</a></li>
<li><a id="#the-geometry-of-euclidean-space">0.2: The Geometry of Euclidean space</a></li>
<li><a id="#visualizing-functions-of-several-variables">0.3: Visualizing Functions of Several Variables</a></li>
<li><a id="##problems-for-ca-0-preliminaries">Problems for Ca 0: Preliminaries</a></li>
<li><a id="##open-closed-and-ota-subsets-of-rn">1.1: Open, Closed, and other Subsets of <span class="mata inline">\(\R^n\)</span></a></li>
<li><a id="#limits-and-continuity">1.2: Limits and Continuity</a></li>
<li><a id="#sequences-and-completeness">1.3: Sequences and Completeness</a></li>
<li><a id="#compactness-and-applications">1.4: Compactness and Applications</a></li>
<li><a id="#the-intermediate-value-theorem">1.5: The Intermediate Value Theorem</a></li>
<li><a id="#differentiation-of-real-valued-functions">2.1 Differentiation of Real-valued Functions</a></li>
<li><a id="#more-differentiation">2.2 More Differentiation</a></li>
<li><a id="#the-chain-rule">2.3 The Chain Rule</a></li>
<li><a id="#the-mean-value-theorem">2.4: The Mean Value Theorem</a></li>
<li><a id="#higher-order-derivatives">2.5: Higher Order Derivatives</a></li>
<li><a id="#taylors-theorem">2.6: Taylor’s Theorem</a></li>
<li><a id="#critical-points">2.7: Critical Points</a></li>
<li><a id="#optimization">2.8: Optimization</a></li>
<li><a id="#the-implicit-function-theorem">3.1 The Implicit Function Theorem</a></li>
<li><a id="#geometric-content-of-the-implicit-function-theorem">3.2 Geometric Content of the Implicit Function Theorem</a></li>
<li><a id="#transformations-and-the-inverse-function-theorem">3.3 Transformations and the Inverse Function Theorem</a></li>
<li><a id="#review-of-integration-of-single-variable-functions">4.1 Review of Integration of Single Variable Functions</a></li>
<li><a id="#integration-in-two-and-more-dimensions">4.2 Integration in Two and More Dimensions</a></li>
<li><a id="#iterated-integrals">4.3 Iterated Integrals</a></li>
<li><a id="#change-of-variables">4.4 Change of Variables</a></li>
<li><a id="#further-aspects-of-integration">4.5 Further Aspects of Integration</a></li>
<li><a id="#arclength-and-line-integrals">5.1 Arclength and Line Integrals</a></li>
<li><a id="#greens-theorem">5.2 Green’s Theorem</a></li>
<li><a id="#surface-integrals">5.3 Surface Integrals</a></li>
<li><a id="#div-grad-curl">5.4 Div, Grad, Curl</a></li>
<li><a id="#the-divergence-theorem">5.5 The Divergence Theorem</a></li>
<li><a id="#stokes-theorem">5.6 Stokes’ Theorem</a></li>
<li><a id="#vector-fields-that-are-gradients-or-curls">5.7 Vector Fields that are Gradients or Curls</a></li>
